<div class="example-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Nombre Completo" formControlName="nombre" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cargo" formControlName="cargo" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Servicio" formControlName="servicio" required>
        </mat-form-field>
        <div class="actions">
            <a mat-button mat-dialog-close>Cancelar</a>
            <button mat-button class="btn-guardar" color="primary">
                Guardar
            </button>
        </div>
    </form>
</div>