<div class="example-container">
    <mat-form-field>
        <input id="rutaInput" matInput placeholder="Nombre Completo" required>
    </mat-form-field>
    <mat-form-field>
        <input id="rutaInput" matInput placeholder="Cargo" required>
    </mat-form-field>
    <mat-form-field>
        <input id="rutaInput" matInput placeholder="Servicio" required>
    </mat-form-field>
    <div class="actions">
        <a mat-button mat-dialog-close>Cancelar</a>
        <button mat-button class="btn-guardar" color="primary">
            Guardar
        </button>
    </div>
</div>