.mat-list-base {
  padding: 0;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  .firt-text {
    flex: 0;
    font-weight: 500;
  }
  .seconds-text {
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 500;
    flex: 3;
    span:nth-child(2) {
      color:#5f6368;
      font-size: 13px
    }
  }
  .date-text {
    font-size: 13px;
    font-weight: 500;
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  &:hover {
    background-color: #eee;
    .date-text {
      div:nth-child(1) {
        display: none;
      }
      div:nth-child(2) {
        display: block !important;
      }
    }
  }
}