.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.guardar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-loading ::ng-deep .mat-option-text {
  display: flex;
  justify-content: center;
}