<mat-card>
  <mat-card-content>
      <div class="card-header">
          <h3 mat-subheader>{{ title }}<small>({{ dataReceived.count }})</small></h3>
          <div class="search">
            <app-search [size]="40" (evento)=buscar($event)></app-search>
          </div>
      </div>
      <div class="content-list">
        <div class="spinner" *ngIf="loading">
          <mat-spinner [diameter]="40"></mat-spinner>
        </div>

        <mat-list *ngIf="!loading && dataReceived.count > 0">
          <mat-list-item *ngFor="let personal of dataReceived.personals; let i = index">
            <div class="image">
              <img [src]="'assets/user.png'" alt="">
            </div>
            <div class="text">
              <h4 mat-line>
                {{ i + 1}} {{personal.nom | titlecase }} {{ personal.app | titlecase}} {{ personal.apm | titlecase}}
              </h4>
              <!-- <p mat-line> {{ personal.servicio }}</p> -->
              <p mat-line> Sistemas</p>
            </div>
            <div class="action">
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <fa name="ellipsis-h"></fa>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editar(personal, i)">Editar</button>
                <button mat-menu-item (click)="eliminar(personal.id, i)">Eliminar</button>
              </mat-menu>
            </div>
          </mat-list-item>
          <ng-container  *ngIf="dataReceived.personals.length < dataReceived.count">
            <a mat-button class="btn-more" (click)="getMorePersonal()" color="primary">Ver más</a>
          </ng-container>
        </mat-list>
        
        <div class="not-data" *ngIf="!loading && dataReceived.count === 0">
          <p> No hay datos</p>
        </div>
      </div>
  </mat-card-content>
</mat-card>