<div class="page-content">
  <header class="header">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button (click)="showMenu()"
          mat-icon-button aria-label="Example icon-button with a heart icon">
          <fa name="bars"></fa>
        </button>
        <span>{{ title }}</span>
        <div class="search-main">
          <fa name="search"></fa>
          <input #input (keyup.enter)="search(input.value)" type="text" placeholder="Buscar...">
        </div>
        <span class="example-spacer"></span>
        <button class="example-icon" mat-icon-button>
          <fa name="bars"></fa>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main #main class="main-content">
    <aside #sidebar class="sidebar">
      <div class="write">
        <a class="btn-write" (click)="register(text)">
          <img [src]="'/assets/btn-plus.png'" alt="">
          <span>{{ text | titlecase }}</span>
        </a>
      </div>
      <nav class="lateral-menu">
        <ul>
          <ng-container *ngFor="let menu of menus">
            <ng-container *ngIf="menu.submenu">
              <li *ngIf="menu.submenu.length == 0">
                <a [routerLinkActive]="['menu-active']" [routerLink]="menu.links">
                  <span>
                    <fa [name]="menu.icon"></fa>
                  </span>
                  <span>{{ menu.title | titlecase }}</span>
                </a>
              </li>
              <div *ngIf="menu.submenu.length !== 0" class="expand">
                <li appExpand>
                  <a>
                    <span>
                      <fa name="angle-down"></fa>
                    </span>
                    <span>Más</span>
                  </a>
                </li>
                <ul class="submenu">
                  <li *ngFor="let submenu of menu.submenu">
                    <a [routerLinkActive]="['menu-active']" [routerLink]="submenu.links">
                      <span>
                        <fa [name]="submenu.icon"></fa>
                      </span>
                      <span>
                        {{ submenu.title }}
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </ng-container>
          </ng-container>
        </ul>
      </nav>
    </aside>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>