<div class="example-container">
  <h3>{{ this.data.title }}</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" #f="ngForm">
    <mat-form-field>
      <input matInput placeholder="Nombre" formControlName="nom" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido Paterno" formControlName="app" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Apellido Materno" formControlName="apm" required>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Servicio" formControlName="servicio" matNativeControl required>
        <mat-option *ngFor="let servicio of servicios" [value]="servicio.id">
          {{ servicio.nombre | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="actions" *ngIf="!loading">
      <a mat-button mat-dialog-close>Cancelar</a>
      <button mat-button class="btn-guardar" color="primary" [disabled]="loading">
        {{ txtSubmit }}
      </button>
    </div>
    <div class="box-center" *ngIf="loading">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </form>
</div>