.main-profile {
  height: 100%;
  color: #5f6368;
}

h2, h3 {
  color: #202124;
  font-weight: normal;
  margin-bottom: 5px;
}

.mgb-3 {
  margin-bottom: 3rem;
}

.profile-header {
  text-align: center;
}

fa {
  color: rgb(95, 99, 104);
  font-size: 1rem;
  margin-right: 1rem;
}

.profile-content {
  margin: 0 5rem;
  padding-left: 2rem;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 5px;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(218, 220, 224);
  p:nth-child(1) {
    letter-spacing: .07272727em;
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
  }
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    background-color: #eee;
  }
}

.info-img {
  width: 50px;
  padding-top: 5px;
  margin-right: 0.4rem;
  img {
    width: auto;
    height: 50px;
    border: hidden;
    border: 1px solid rgb(209, 210, 212);
    overflow: hidden;
    border-radius: 50%;
  }
}