<mat-card>
  <mat-card-content>
    <div class="card-header">
      <h3>
        Solicitud {{ offset }}
      </h3>
      <div>
        <span>{{ range }} de {{ count }}</span>
        <button class="link-icon" mat-icon-button (click)="setPage(-10)" 
          [disabled]="offset === 0 ? 'disabled': null">
          <fa name="chevron-left"></fa>
        </button>
        <button class="link-icon" mat-icon-button (click)="setPage(+10)"
        [disabled]="total > count ? 'disabled': null">
          <fa name="chevron-right"></fa>
        </button>
      </div>
    </div>
    <div class="content-list">
      <nav mat-tab-nav-bar>
        <a [ngClass]="{colorTabs: tab.isActive}" mat-tab-link *ngFor="let tab of tabs" [routerLink]="tab.id" 
            routerLinkActive #rla="routerLinkActive" [active]="tab.isActive" (click)="goTab(tab)">
          <fa class="icons" [name]="tab.icon"></fa>
          {{tab.name}}
        </a>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </mat-card-content>
</mat-card>