.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  h3{
    flex: 1 0 300px;
    margin: 0;
    small {
      padding-left: 0.3rem;
      font-weight: normal;
    }
  }
}

.mat-card-content {
  flex:1
}

.search {
  width: 100%;
  padding-right: 1rem;
}

.content-list {
  border-top: 1px solid #eee;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px 
    rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.icons {
  margin-right: 8px;
}

.colorTabs {
  color: #009688;
  opacity: 0.8;
}