<div>
	<div class="detail-header">
		<div>
			<h3>DETALLE DE SOLICITUD</h3>
			<span class="ruta">{{ data.solicitud.ruta | zfill }}</span>
		</div>
		<div>
			<p>{{ data.solicitud.fecha | formatDate: 'literal' }}</p>
		</div>
	</div>
	<br>
	<div class="detail-content">
		<div class="column-detail">
			<span>Referencia:</span>
			<p>{{ data.solicitud.referencia | titlecase | capitalize }}</p>
			<br>
			<span>Cite:</span>
			<p>{{ data.solicitud.cite | uppercase }}</p>
			<br>
			<span>Remitente:</span>
			<p>{{ data.solicitud.remitente.nombre | titlecase }}</p>
		</div>
		<div class="column-detail">
			<span>Registrado por:</span>
			<p>{{ data.solicitud.user.username}}</p>
		</div>
	</div>
	<br>
	<mat-divider></mat-divider>
	<span *ngIf="!modeEdit">Asignado a:</span>

	<div class="text-asign" *ngIf="!modeEdit">
		<div class="assign-staff">
			<span *ngFor="let personal of assignedPersonal"> {{ personal.fullName | titlecase }}. </span>
			<span *ngIf="assignedPersonal.length === 0">{{ textNotAssigned }}</span>
		</div>
		<a class="icon-pencil pointer" (click)="changeMode()">
			<fa name="pencil"></fa>
		</a>
	</div>
	<div class="form-asignar" *ngIf="modeEdit">
			<form  [formGroup]="form" (ngSubmit)="submit()" class="form">
					<mat-form-field>
						<!-- <mat-label>Asignar a</mat-label> -->
						<mat-select multiple formControlName="personals">
							<mat-option *ngFor="let p of personals" [value]="p.id">
								{{p.nom}} {{p.app}} {{p.apm}}
							</mat-option>
						</mat-select>
					</mat-form-field>
					<div class="actions-form">
						<button class="icon-pencil pointer">
								<fa name="check"></fa>
						</button>
						<a class="icon-pencil pointer" (click)="changeMode()">
							<fa name="times"></fa>
						</a>
					</div>
				</form>
	</div>
	<div class="actions">
		<a mat-button (click)="print()">
			<fa name="print"></fa>
			Imprimir
		</a>
		<a mat-button mat-dialog-close>Cerrar</a>
	</div>
</div>