p {
	margin: 0;
	padding: 0;
}

.solicitud-title {
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
}

.detail-content, .detail-header {
	display: flex; 
}

.detail-content {
	.column-detail:nth-child(1) {
		flex: 4;
	}
}

.ruta {
	display: block;
	margin-bottom: 0.5rem;
}

span {
	font-size: 12px;
	color: #3e3e3e;
	opacity: 0.5;
}

.column-detail {
	flex: 1;
	&:nth-child(2) {
		text-align: end;
	}
}

.actions {
	margin-top: 8rem;
}

.text-asign {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.icon-pencil {
	color: #3e3e3e;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

form {
	display: flex;
	justify-content: space-between;
	.mat-form-field {
		flex:1;
	}
	button {
		margin-left: 1rem;
		background-color: #fff;
		border: none;
		outline: none;
	}
}

.assign-staff {
	span {
		font-size: 1rem;
		opacity: 1;
	}
}