<div class="wrapper-container">
    <!-- <div class="header-login">
        <img [src]="'assets/logo-large.png'" alt="">
    </div> -->
    <div class="content-login">
        <div class="card-login">
            <!-- [formGroup]="form"  (ngSutmit)="login()" -->
            <form class="form-login">
                <!-- <h2>Login</h2> -->
                <div class="img-login">
                    <img [src]="'assets/logo-large.png'" alt="">
                </div>
                <input class="input-form" type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <p>
                    {{ textInformation }}
                </p>
                <div class="form-actions" *ngIf="!loading">
                    <a (click)="register()" class="btn"> {{ btnRegister }}</a>
                    <a (click)="login()" class="btn btn-login">{{ btnLogin }}</a>
                </div>
                <div class="box-center spinner-width" *ngIf="loading">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </div>
            </form>
        </div>
    </div>
</div>