<mat-list>
  <mat-list-item *ngFor="let solicitud of dataReceived.solicituds">
    <div class="firt-text">
      {{ solicitud.ruta | zfill }}
    </div>
    <div class="seconds-text">
      {{ solicitud.referencia | lowercase | capitalize }}
    </div>
    <div class="date-text">
      <div>
        {{ solicitud.fecha | date }}
      </div>
      <div style="display: none;">
        <a class="link-icon" mat-icon-button matTooltipPosition="above" matTooltip="Check" (click)="check(solicitud.id)">
          <fa name="check"></fa>
        </a>
        <a class="link-icon" mat-icon-button matTooltipPosition="above" matTooltip="Edit" (click)="edit(solicitud.id)">
          <fa name="pencil"></fa>
        </a>
        <a class="link-icon" mat-icon-button matTooltipPosition="above" matTooltip="Delete" (click)="delete(solicitud.id)">
          <fa name="trash"></fa>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<div class="not-data" *ngIf="!loading && dataReceived.count === 0">
  <p>Not data found</p>
</div>