<mat-list>
  <mat-list-item *ngFor="let solicitud of dataReceived.solicituds">
    <div class="firt-text">
      {{ solicitud.ruta }}
    </div>
    <div class="seconds-text">
      {{ solicitud.referencia | lowercase }}
    </div>
    <div class="date-text">
      <div>
        {{ solicitud.fecha | date }}
      </div>
      <div style="display: none;">
        <a mat-icon-button matTooltipPosition="above" matTooltip="Modificar" (click)="modificar(solicitud.id)">
          <fa name="pencil"></fa>
        </a>
        <a mat-icon-button matTooltipPosition="above" matTooltip="Eliminar" (click)="eliminar(solicitud.id)">
          <fa name="trash"></fa>
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>