.mat-list-base {
  padding: 0;
}

.mat-list-item {
  display: flex;
  justify-content: space-between;
  .firt-text {
    flex: 1;
    font-weight: 500;
  }
  .seconds-text {
    flex: 1 0 60%
  }
  .date-text {
    font-size: 14px;
    flex: 1
  }
  &:hover {
    background-color: #eee;
    .date-text {
      div:nth-child(1) {
        display: none;
      }
      div:nth-child(2) {
        display: block !important;
      }
    }
  }
}

.link-icon {
  fa:hover {
    background-color: rgb(216, 215, 215);
    padding: 0.7rem;
    border-radius: 50%;
  }
}